:root{
    --pramary-icon-color:#AFB1B8;
    --secondery-icon-color:#fff;
    --pramary-ivon-color-bottom:rgba(255, 255, 255, 0.1);

    --background-color: #FFF;
    --pramiry-color: #757575;
    --secondory-color:#212121;
    --company-color:#2196F3;

    --footer-contact-color: rgba(255, 255, 255, 0.6);

    --pramiry-button-color: #FFF;
    --secondory-button-color: #212121;
    --pramiry-button-background-color: #2196F3;
    --secondory-button-background-color: #F5F4FA; 
}

body
{
    color: var(--pramiry-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    letter-spacing: 0.03em;
}

img{
    display: block;
    max-width: 100%;
    height: auto;    
}

h1,
h2,
h3,
p,
ul
{
    margin: 0px;
    padding: 0px;   
}

/* visually hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Container */
.container{
    width: 1200px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

    /* outline: 1px solid red; */
}
/* list */
.list {
    display: flex;

    list-style: none;
}

/* links */
.link {
    color: inherit;

    font-size: inherit;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--company-color);
    fill:currentColor;
}

/* button */
.button {
    padding: 6px 22px;

    color: var(--secondory-button-color);
    background-color: var(--secondory-button-background-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;

    border-radius: 4px;
    
    line-height: 1.6;
    letter-spacing: 0.03em;

    border: 0;
}
.button:hover,
.button:focus {
    color: var(--pramiry-button-color);
    background-color: var(--pramiry-button-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* title */
.title {
    text-align: center;

    margin-bottom: 50px;

    color: var(--secondory-color);

    font-weight: 700;
    font-size: 36px;

    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* header */
.header-section{
    border-bottom: 1px solid #ECECEC;
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-nav{
    display: flex;
    align-items: center;
    gap: 93px;
}
.list-nav{
    display: flex;
    gap:50px;
}
.list-nav .navigation-link{
    padding-top: 33px;
    padding-bottom: 31px;
}
.logo{
    color: #000000;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;

    line-height: 1.2;
    letter-spacing: 0.03em;

    text-decoration: none;
}
.logo-cover{
    color: var(--company-color);
}
.navigation-link {
    color: var(--secondory-color);

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link.this-page{
    color: var(--company-color);
}
.top-contact {
    padding-top: 33px;
    padding-bottom: 31px;

    display: flex;
    align-items: center;
    gap: 10px;
    fill: currentColor;

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list.list-contact{
    gap: 50px;
}


/* hero section */
.hero-section{
    background-image: url(../images/hero-image.jpg);
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;

    padding-bottom: 200px;
    padding-top: 200px;

    background-color: #2F303A;
}

.hero-title{
    margin-bottom: 30px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 696px;

    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;

    line-height: 1.4;
    letter-spacing: 0.06em;

    text-transform: uppercase;
}
.hero-button{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    background-color: var(--company-color);
    color: var(--pramiry-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    letter-spacing: 0.06em;

    border: 0;
    border-radius: 4px;

    cursor: pointer;
}
.hero-button .button-text{

    display: block;
    padding: 10px 32px;
}

/* features section */
.features-section{
    padding-top: 94px;
    padding-bottom: 0px;
}
.features-icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
}
.features-title{
    margin-bottom: 10px;

    color: var(--secondory-color);

    font-weight: 700;
    font-size: inherit;
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.list-features{
    flex-wrap: wrap;
    gap:30px;
}
.list-features .item{
    width: 270px;
}
.features-text{
    line-height: 1.71em;
}

/* development-section */
.development-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-developmen{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
/* employee section */
.employee-section{
    background-color: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;
}
.list-employee{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.employee-cart{
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.social-list
{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;
}
.social-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--background-color);
}
.social-link
{
    fill: var(--pramary-icon-color);
}
.social-link:hover,
.social-link:focus
{
    background-color: var(--company-color);
    fill: var(--secondery-icon-color);
}
.card-text{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.employee-card-title{
    margin-bottom: 10px;

    color: var(--secondory-color);

    font-weight: 500;
    font-size: 16px;

    line-height: 1.19;
    letter-spacing: 0.03em;
}
.employee-card-text{
    line-height: 1.71;
}
.social-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* clients section */
.clients-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    justify-content: center;
    gap: 30px;
}
.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--pramary-icon-color);

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--company-color);
    fill: var(--company-color);
}
/* footer */
.bottom-section{
    background-color: #2F303A;
}
.bottom-section .container
{
    display: flex;
    align-items: center; 
    gap:70px;   
}
.bottom-section .section
{
    padding-top: 60px;
    padding-bottom: 60px;  
}
.logo.bottom-logo {
    display: block;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.bottom-text{
    color: #fff;

    font-style: inherit;
    font-weight: 400;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.bottom-span{
    display: block;
   margin-bottom: 9px; 
}
.bottom-contact {
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-style:normal;

    line-height: 1.7;
    letter-spacing: 0.03em;
}
.bottom-title{
    color: #fff;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.social-card .social-list{
    margin-top: 20px;
}
.social-card .social-item{
    background-color: var(--pramary-ivon-color-bottom);
}
.social-card .social-link{
    fill: var(--secondery-icon-color);
}
.social-card .social-link:hover,
.social-card .social-link:focus{
    background-color: var(--company-color);

}

/* product section */
.product-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-botton
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 56px;
}
.list-botton .item:not(:last-child)
{
    margin-right: 8px;    
}
.product-card{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.product-card .item{
    background: var(--background-color);
    border: 1px solid #EEEEEE;
    width: 370px;
}
.product-card .item:hover,
.product-card .item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-link{
    text-decoration: none;
}
.product-title{
    margin-bottom: 4px;
    color: var(--secondory-button-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}
.product-text{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.product-span{
    color: var(--pramiry-color);

    font-size: 16px;

    line-height: 1.8;
    letter-spacing: 0.03em;
}
